.br--mobile {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.br--tablet {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.br--desktop {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}
