.button {
  font-family: "PT Sans", sans-serif;
  font-size: $tablet-font-title;
  line-height: $mobile-height-title;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: $blue;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
}

.button--padding-index {
  padding: 18px 32px 14px 32px;

  @include tablet {
    padding: 17px 30px 14px 35px;
  }

}

.button--play {
  position: absolute;
  cursor: pointer;
  background: url("../img/icons/icon-play-button.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 55px;
  border: none;
  left: calc(50% - 17px);
  bottom: calc(50% - 121px);

  @include tablet {
    left: calc(50% - 24px);
    bottom: calc(50% - 129px);
  }

  @include desktop {
    left: calc(50% - 25px);
    bottom: calc(50% - 110px);
  }
}


.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: $blue-200;
}

.button:hover,
.button:focus {
  background-color: $blue-100;
}

