.content {
  flex-grow: 1;
  padding-top: 56px;
}

.content__img--index {
  @include retina {
    height: 389px;
    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/mobile-header-welcome@2x.jpg") top left/100% 100% no-repeat;
    padding-top: 90px;
  }

  height: 389px;
  background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/mobile-header-welcome.jpg") top left/100% 100% no-repeat;
  background-color: $gray-600;


  padding-top: 90px;

  @include tablet {
    @include retina {
      height: 518px;
      background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/tablet-header-welcome@2x.jpg") top left/100% 100% no-repeat;
    }

    height: 518px;
    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/tablet-header-welcome.jpg") top left/100% 100% no-repeat;
  }

  @include desktop {
    @include retina {
      background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/desktop-header-welcome@2x.jpg") top left/100% 100% no-repeat;
    }

    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/desktop-header-welcome.jpg") top left/100% 100% no-repeat;
  }
}

.content__welcome-title {
  @include tablet {
    margin-top: -13px;
    height: 350px;
    width: 460px;
  }

  @include desktop {
    margin-top: -13px;
    height: 350px;
    width: 460px;
  }
}

.content__welcome-title--position {
  @include tablet {
    width: 460px;
    height: 78px;
    margin-top: 45px;
  }

  @include desktop {
    width: 460px;
    height: 78px;
    margin-top: 49px;
    margin-left: -5px;
  }
}

.content__welcome-title--position-index {
  margin-top: -13px;
}

.content__img--position {
  @include retina {
    height: 158px;
    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/mobile-header-welcome-gallery@2x.jpg") bottom/cover no-repeat;
  }

  height: 158px;
  background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/mobile-header-welcome-gallery.jpg") bottom/cover no-repeat;
  background-color: $gray-600;

  padding-top: 52px;

  @include tablet {
    @include retina {
      height: 290px;
      background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/tablet-header-welcome@2x.jpg") bottom/cover no-repeat;
    }
    height: 290px;
    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/tablet-header-welcome.jpg") bottom/cover no-repeat;
  }

  @include desktop {
    @include retina {
      height: 301px;
      background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/desktop-header-welcome@2x.jpg") bottom/cover no-repeat;
    }
    height: 301px;
    background: url("../img/welcome-triangle.svg") bottom no-repeat, url("../img/desktop-header-welcome.jpg") bottom/cover no-repeat;
  }
}
