.content {
  flex-grow: 1;
  padding-top: 55px;
}

.content__img {
  @include retina {
    height: 389px;
    background: url("../img/welcome-triangle.svg"), url("../img/mobile-header-welcome@2x.jpg");

    @include haider-img-position;
    padding-top: 90px;
  }

  height: 389px;
  background: url("../img/welcome-triangle.svg"), url("../img/mobile-header-welcome.jpg");

  @include haider-img-position;
  padding-top: 90px;

  @include tablet {
    @include retina {
      height: 518px;
      background: url("../img/welcome-triangle.svg"), url("../img/tablet-header-welcome@2x.jpg");

      @include haider-img-position;
    }

    height: 518px;
    background: url("../img/welcome-triangle.svg"), url("../img/tablet-header-welcome.jpg");

    @include haider-img-position;
  }

  @include desctop {
    @include retina {
      background: url("../img/welcome-triangle.svg"), url("../img/desctop-header-welcome@2x.jpg");

      @include haider-img-position;
    }
    background: url("../img/welcome-triangle.svg"), url("../img/desctop-header-welcome.jpg");

    @include haider-img-position;
  }
}

.content__welcome-title {
  @include tablet {
    height: 350px;
    width: 460px;
  }
}

.content__welcome-title--position {
  @include tablet {
    width: 460px;
    height: 78px;
    margin-top: 45px;
  }
}

.content__img--position {
  @include retina {
    height: 158px;
    background: url("../img/welcome-triangle.svg"), url("../img/mobile-header-welcome-gallery@2x.jpg");

    @include haider-img-position;
  }

  height: 158px;
  background: url("../img/welcome-triangle.svg"), url("../img/mobile-header-welcome-gallery.jpg");

  @include haider-img-position;
  padding-top: 52px;

  @include tablet {
    @include retina {
      height: 290px;
      background: url("../img/welcome-triangle.svg"), url("../img/tablet-header-welcome@2x.jpg");

      @include haider-img-position;
    }
    height: 290px;
    background: url("../img/welcome-triangle.svg"), url("../img/tablet-header-welcome.jpg");

    @include haider-img-position;
  }

  @include desctop {
    @include retina {
      height: 290px;
      background: url("../img/welcome-triangle.svg"), url("../img/tablet-header-welcome@2x.jpg");

      @include haider-img-position;
    }
    height: 290px;
    background: url("../img/welcome-triangle.svg"), url("../img/desctop-header-welcome.jpg");

    @include haider-img-position;
  }
}
