.content {
  padding-top: 55px;
}
.content__container {
  flex-grow: 1;
}

.content__img {
  height: 389px;
  background: url("../img/welcome-triangle.svg"), url("../img/mobile-header-welcome.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  padding-top: 90px;
}
