.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 30px;
  color: $black;

  @include tablet {
    padding: 0;
  }
}

.copyright__item {
  padding: 10px 10px 10px 10px;
}
.copyright__icon{
  fill: $black;
}
.copyright:hover .copyright__item {
  color: $blue;
}

.copyright:hover .copyright__icon {
  fill: $blue;
}

.copyright:active .copyright__item {
  opacity: 0.3;
  color: $gray-50;
}

.copyright:active .copyright__icon {
  fill: $gray-50;
}
