.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 30px;
  color: $black;

  @include tablet {
    padding: 0;
  }
}

.copyright__item {

  padding: 10px 10px 10px 10px;
}

.copyright:hover path,
.copyright__item:hover {
  color: $blue;
  fill: $blue;
}

.copyright:active svg,
.copyright__item:active {
  opacity: 0.3;
  color: $gray-50;
  fill: $gray-50;
}
