.feedback {
  position: relative;

  @include tablet {
    padding-bottom: 52px;
  }

  @include desktop {
    padding-bottom: 90px;
  }
}

.feedback__video {
  width: 280px;
  height: 177px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -15px;

  @include tablet {
    width: 648px;
    height: 500px;
    background-image: url("../img/video-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include desktop {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
