.footer__item {
  text-decoration: none;
  margin: 40px 0 33px 0;
  font-weight: bold;
  font-size: $mobile-font-title;
  line-height: $mobile-height-title;
}

.footer__social {
  margin-bottom: 40px;
}
