.footer {
  @include tablet {
    padding-top: 36px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 33px;
  }

  @include desktop {
    padding: 40px 0 40px 0;
  }
}

.footer__item {
  text-decoration: none;
  margin: 38px 0 33px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: $mobile-height-title;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin-left: -23px;
  }
}

.footer__social {
  margin-bottom: 40px;

  @include tablet {
    margin: 0;
  }
}
