.gallery__list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  text-align: left;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @include desktop {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}


.gallery__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    position: relative;
  }
}

.gallery__item:first-child {
  @include tablet {
    grid-column: 1 / -1;
  }
}

.gallery__item:nth-child(3) {
  padding-top: 30px;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    padding-top: 0;
  }

}

.gallery__item::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: $gray;
  top: 0;
  left: -20px;
  right: -20px;

  @include tablet {
    display: none;
  }
}

.gallery__item:last-child::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #e7e5e5;
  bottom: 0;
  left: -20px;
  right: -20px;

  @include tablet {
    display: none;
  }
}

.gallery__item:not(:first-child):nth-child(odd) .gallery__wrapper {
  @include tablet {
    background-color: $gray-200;
  }

  @include desktop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__img {
  width: 100%;
}

.gallery__img:hover {
  opacity: 0.8;
}

.gallery__wrapper {
  margin-top: 15px;

  @include tablet {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 17px 15px 20px;
    background-color: $gray-100;
  }

  @include desktop {
    position: absolute;
    color: $white;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
}

.gallery__title {
  font-weight: bold;
  font-size: $mobile-font-subtitle;
  line-height: $mobile-height-subtitle;
  color: $black;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    color: $white;
  }
}



.gallery__title:hover {
  color: $gray-300;

  @include tablet {
    color: $blue-200;
  }
}

.gallery__description {
  text-transform: none;
  margin: 0;
  font-size: $mobile-font-subtitle;

  @include tablet {
    padding-top: 5px;
  }

  @include desktop {
    padding-top: 1px;
    padding-bottom: 5px;
  }
}
