.header {
  position: fixed;
  width: 320px;
  height: 56px;
  z-index: 50;

  @include tablet {
    width: $tablet;
  }

  @include desktop {
    width: $desktop;
  }
}

.header--nojs {
  position: relative;
  margin-bottom: 120px;

  @include tablet {
    margin: 0;
  }
}
