.likes {
  display: flex;
  align-items: center;
  padding-top: 15px;

  @include tablet {
    padding: 0;
  }
}

.likes__button {
  cursor: pointer;
  width: 23px;
  height: 21px;
  border: none;
  background: url("../img/icons/icon-like-button.svg");
  background-repeat: no-repeat;

  @include desctop {
    background: url("../img/icons/icon-like-button-white.svg");
    background-repeat: no-repeat;
  }
}

.likes__button:hover {
  background: url("../img/icons/icon-like-button-hover.svg");
  background-repeat: no-repeat;

  @include desctop {
    background: url("../img/icons/icon-like-active.svg");
    background-repeat: no-repeat;
  }
}

.likes__button--click {
  background: url("../img/icons/icon-like-active.svg");
  background-repeat: no-repeat;
}

.likes__description {
  margin: 0;
  font-weight: bold;
  padding: 5px 14px 0 14px;
}
