.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.modal__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba($black, 0.15);
  transform: translate(-50%, -50%);
}

.modal__wrapper--success {
  @include tablet {
    width: 640px;
  }
}

.modal__wrapper--failure {
  @include tablet {
    width: 400px;
  }
}

.modal--close {
  display: none;
}

.modal--open {
  display: block;
}

.modal__block {
  padding: 38px 39px 29px 37px;
}

.modal__block--success {
  @include tablet {
    margin-bottom: 32px;
    padding-top: 55px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 26px;

  @include tablet {
    margin-bottom: 31px;
    font-size: 30px;
  }
}

.modal__title--failure {
  @include tablet {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 24px;
    line-height: 40px;
  }
}

.modal__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.modal__success-close {
  width: 100%;
  padding: 20px;
  background-color: $gray-100;

  @include tablet {
    padding: 44px 91px;
  }
}

.modal__button {
  margin: 20px 20px;
  font-size: 18px;

  @include tablet {
    font-size: 21px;
  }
}

.modal__button--success {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: 458px;
  }
}

.modal__button--failure {
  margin: 0;
  width: 180px;

  @include tablet {
    width: 272px;
  }
}

.modal__block--failure {
  padding: 40px 42px 22px 41px;

  @include tablet {
    padding: 55px 60px 40px 60px;
  }
}

.modal__failure-close {
  padding-bottom: 35px;

  @include tablet {
    padding-bottom: 49px;
  }
}
