.profit {
  list-style: none;
  text-align: left;
  padding: 32px 10px 19px 20px;
  grid-column: 1 / -1;
  order: 3;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 0;
  }
}

.profit---background {
  background-color: $white;
  color: $black;
}

.profit__item {
  position: relative;
  padding: 0 0 30px 45px;

  @include tablet {
    padding: 156px 30px 59px 30px;
  }

  @include desktop {
    padding: 156px 45px 81px 45px;
  }
}

.profit__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  top: -10px;
  left: 1px;

  @include tablet {
    width: 76px;
    height: 76px;
    background-size: 75px 72px;
    left: calc(50% - 38px);
    top: 60px;
  }
}

.profit__item--icon-housing::before {
  background-image: url("../img/icons/icon-house.svg");
  background-repeat: no-repeat;
}

.profit__item--icon-food::before {
  background-image: url("../img/icons/icon-burger.svg");
  background-repeat: no-repeat;
}

.profit__item--icon-souvenir::before {
  background-image: url("../img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  left: 5px;

  @include tablet {
    left: calc(50% - 38px);
  }
}

.profit__title {
  margin: 0;
  font-weight: bold;
  font-size: $mobile-font-title;
  line-height: $mobile-height-title;

  @include tablet {
    font-size: $tablet-font-title;
    padding-bottom: 6px;
  }
}

.profit__subtitle {
  margin: 0;
  padding-top: 16px;
  font-weight: normal;
  font-size: $mobile-font-subtitle;
  line-height: $mobile-height-subtitle;
}
