.section {
  padding: 35px 16px 28px 16px;

  @include tablet {
    padding: 55px 124px 28px 124px;
  }

  @include desktop {
    padding: 55px 358px 28px 358px;
  }
}

.section__title {
  margin: 0 auto;
  font-weight: bold;
  font-size: $mobile-font-title;
  line-height: $mobile-height-title;

  @include tablet {
    font-size: $tablet-font-title-max;
  }
}

.section__title--font-size {
  font-size: $tablet-font-title;
}

.section__subtitle {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-weight: normal;
  font-size: $mobile-font-subtitle;
  line-height: $mobile-height-subtitle;
}

.section__button {
  margin: 30px 0 40px 0;
  text-transform: uppercase;
  border: none;
  color: $white;
  width: 100%;
  min-height: 58px;
  background-color: $blue;
}
