.wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: $tablet;
  }

  @include desktop {
    width: $desktop;
  }
}
