@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desctop {
  @media screen and (min-width: $desctop) {
    @content;
  }
}

@mixin retina {
  @media screen and (min-resolution: 2dppx) {
    @content;
  }
}

// content
@mixin haider-img-position {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
}
