// colors
$blue: #81b3d2;
$black: #000000;
$white: #ffffff;
$gray: #eeeeee;

// FONTS
// mobile font-size
$mobile-font-subtitle: 14px;
$mobile-font-title: 18px;

//mobile line-height
$mobile-height-subtitle:21px;
$mobile-height-title:26px;

// tablet font-size
$tablet-font-subtitle: 18px;
$tablet-font-title: 21px;

// desctop font-size
$desctop-font-subtitle: 18px;
$desctop-font-title: 21px;
