// colors
$blue: #81b3d2;
$blue-50: #81b3d2;
$blue-100:#669ec0;
$blue-200:#5496bd;

$black: #000000;
$white: #ffffff;

$gray: #eeeeee;
$gray-border:#dbdbdb;
$gray-50:#b3b3b3;
$gray-100:#f2f2f2;
$gray-200:#eaeaea;
$gray-300: #5c5c5c;
$gray-400:#e5e5e5;
$gray-600:#333333;

// FONTS
// mobile font-size
$mobile-font-subtitle: 14px;
$mobile-font-title: 18px;

//mobile line-height
$mobile-height-subtitle:21px;
$mobile-height-title:26px;

// tablet font-size
$tablet-font-subtitle: 18px;
$tablet-font-title: 21px;
$tablet-font-title-max:30px;

// desctop font-size
$desctop-font-subtitle: 18px;
$desctop-font-title: 21px;


// screen size
$mobile: 320px;
$tablet: 768px;
$desctop: 1200px;

// RETINA
