.radio {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 17px;
  align-items: center;
}

.radio label {
  cursor: pointer;
}

.radio__input {
  width: 55px;
  height: 55px;
  opacity: 0;
  margin: 0;
}

.radio__subtitle {
  position: relative;
  text-transform: none;
  font-weight: bold;
  font-size: $mobile-font-title;
  line-height: $mobile-height-title;
  padding-left: 16px;
}

.radio__input + label::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 20px;
  top: -15px;
  left: -52px;
  background-color: $gray-100;
  border-radius: 50%;
}

.radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -35px;
  width: 22px;
  height: 22px;
  background-color: $gray-600;
  border-radius: 50%;
}

.radio__input:hover + label::before {
  background-color: $gray-400;
}

.radio__input:checked + label:active::after {
  opacity: 0.3;
}

