.radio {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding-top: 7px;
  align-items: center;
}

.radio label {
  cursor: pointer;
}

.radio__input {
  width: 55px;
  height: 55px;
  opacity: 0;
  margin: 0;
}

.radio__subtitle {
  position: relative;
  text-transform: none;
  font-weight: bold;
  font-size: $mobile-font-title;
  line-height: $mobile-height-title;
  padding-left: 5px;

  @include tablet {
    margin-top: -5px;
    padding-left: 3px;
  }

  @include desktop {
    margin-top: -5px;
  }
}

.radio__subtitle--padding-left {
  padding-left: 23px;
}

.radio__input + label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  bottom: 20px;
  top: -11px;
  left: -56px;
  background-color: $gray-100;
  border-radius: 50%;

  @include tablet {
    top: -13px;
    left: -60px;
  }
}

.radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -42px;
  width: 18px;
  height: 18px;
  background-color: $gray-600;
  border-radius: 50%;

  @include tablet {
    top: 1px;
    left: -46px;
  }
}

.radio__input:hover + label::before {
  background-color: $gray-400;
}

.radio__input:checked + label:active::after {
  opacity: 0.3;
}

.radio__input:focus + .radio__subtitle::before {
  background-color: $gray-400;
}
